@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-sans: "Raleway", ui-sans-serif, system-ui, sans-serif;
  --color-ams-dark: #0B1C3E;
  --color-ams-light: #FFFFFF;
  --color-ams-highlight: #C5A065;
  --color-ams-gray: #F3F4F6;
  --color-ams-accent: #0f2a5e;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}