---
import Layout from "#layouts/main.astro";

const imgLogo = "https://placehold.co/200x200";
---

<Layout>
  <section
    class="bg-ams-dark text-ams-light min-h-screen flex flex-col justify-center relative overflow-hidden pt-32 pb-20"
  >
  </section>
</Layout>
